body {
    background: #f1f1f5;
    color: #333333;
    margin-top: 100px;
    min-height: 100vh;
    width:100vw;
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #ffffff;
}

.site-header .navbar-light .nav-link:hover{
    color: #0c3ec1;
}

.site-header .navbar-nav .nav-link {
    color: #90969a;
}

.dropdown{
    /*show;*/
    color: #cbd5db;
}

.site-header .navbar-light .navbar-brand {
    color: rgba(251, 240, 0, 0.8);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    background-color: green;
}


.tippspiel_match_result {
    color: #ffffff;
    font-size: x-large;
    margin-top: 5px;
    text-align: center;
}

.tippspiel_tipp_result {
    color: #060;
    font-size: x-large;
    text-align: center;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    flex: 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
    overflow: hidden;
    /* width: 800px; */
    margin: 0 auto;
    /* border-top-color: gray; */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-section{max-width: 100%;}
  }

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.ranking-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.tippspiel_tippfield {
    width: 100px;

}

.button{
    position:absolute;
    bottom: 10%;
    right:20%;
    width: 100%;
}

.footer_button{
    margin-top: 10px;
    color: cornflowerblue;
    background-color: white;
    border-color: lightgrey;
}

.footer_button.dropdown-toggle{
    color: cornflowerblue;
}
/* 
secondary.dropdown-toggle{
    color: #fff;
    background-color: transparent;
    border-color: #545b62;
} */

/* .matchday-select{
    margin: 0px 600px;
    background-color: #ffffff;
    border-color: #ffffff;
} */
/* home + base */


/* .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    min-height: 64px;
    width: 100%;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(95,93,97,.24);
    box-shadow: inset 0 -1px 0 0 rgba(95,93,97,.24);
    z-index: 100;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.burger_menu {
    width: 64px;
    height: 64px;
    position: relative;
    cursor: pointer;
}

.dashboard {
    max-width: 768px;
    margin: 0 auto;
}

.pageoffset {
    padding-top: 64px!important;
}

.page {
    padding: 16px;
}


.table{
    width: 100%;
    margin: 0px 150px 0px;
    margin: 0px 100px 0px;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px 0 rgb(49 49 55 / 8%);
    box-shadow: 0 8px 24px 0 rgb(49 49 55 / 8%);
    border-radius: 11px;
    padding-bottom: 0;
    overflow: hidden;
}

.col-pos{
    text-align: center!important;
    overflow: hidden;
    padding-right: 8px;
}

.col_avatar{
    padding-right: 8px;
    position: relative;
    min-width: 24px;
    height: 18px;
}

.col_user{
    text-align: left;
    overflow: hidden;
    max-width: 88px;
}

.col_user_source{
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 64px;
}

.col_value{
    text-align: center;
    overflow: hidden;
}

/* tippabgabe */  */

/* .betMatchList {
        padding: 50px 16px;
}

.matchday {
    font-size: 14px;
    color: #acacac;
    margin: -3px 0 8px;
}

.edit_bet_row {
    background: #f1f1f5;
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    width: 100vw;
}

.matchdate_time {
    font-size: 14px;
    color: #acacac;
    margin: -3px 0 8px;
}

.matchday_list_single {
    border-radius: 11px 11px 11px 11px;
    margin-bottom: 16px;
}

.matchday_list {
    background: #fff;
    -webkit-box-shadow: 0 8px 24px 0 rgb(49 49 55 / 4%);
    box-shadow: 0 8px 24px 0 rgb(49 49 55 / 4%);
    position: relative;

}

.matchday_list_single{
    border-radius: 11px 11px 11px 11px;
    margin-bottom: 16px;
    width: 100%;
}

.match {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 8px;
    position: relative;
}

.match_logo_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 4px;
}

.match_teamname {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #5f5d61;
    align-items: center;
}

.match_goals{
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
}

.bet_input_home {
    width: 30px;
    text-align: right;
    background: #f1f1f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Rubik,sans-serif;
}

.bet_input_guest {
    width: 30px;
    text-align: left;
    background: #f1f1f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Rubik,sans-serif;
} */ */

/* .home_goals {
    background: #f1f1f5;
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 10px;
    width: 30px;
}

.guest_goals {
    background: #f1f1f5;
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 10px;
    width: 30px;
} */

/* .match_goals_divider{
    font-size: 20px;
    font-weight: 500;
    font-family: Rubik;
    width: 14px;
    color: #5f5d61;
    position: relative;
    align-items: center;
}

.divider{
    text-align: left;
} */

/* .betMatchList {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} */

.bet_content {
    /* padding: 4px 100px; */
    max-width: 100px;
    padding-bottom: 10%;
    overflow-y: scroll;
}

.matchday {
    -webkit-box-flex: 0;
    flex: 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
}

.col_value_champion{
    width: 90px;
}

.home-container{
    max-width: 450px;
}

.col_value_joker{
    padding-left: 16px;
    text-align: center;
}

.col_user_head{
    /* padding: 14px 0 12px 0;
    margin: 0;
    border-bottom: 1px solid rgba(95,93,97,.08);
    color: #5f5d61;
    font-size: 14px;
    font-weight: 500; */
    min-width: 120px;
    width: 120px;
}

.col_user_body{
    width: 120px;
    min-width: 120px;
    text-align: center;
}

.col_pos_result_body{
    min-width: 40px;
    max-width: 40px;
}

.col_pos_result_head{
    min-width: 40px;
    max-width: 40px;
}

.col_value_gesamt_body {
    min-width: 72px;
    text-align: center;
    vertical-align: middle;
}

.col_value_spieltag_body{
    min-width: 72px;
    text-align: center;
}

.width_result_teams{
    width: 60px;
    min-width: 60px;
}

.profile_page_button{
    display: table;
    margin: 0 auto;
    max-width: calc(30% - 12px);
}


.navigation_bottom_results {
    position: sticky;
    /* padding-bottom: 100px; */
    bottom: 0;
    /* margin: 0 -16px; */
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .12);
    cursor:pointer
}

.button_logout {
    width: 50%;
}

.tip_divider{
    position: relative;
    align-items: center;
    margin-top: 5px;
    text-align: center;
}

.home_tip {
    width: 35px;
    display: block;
    margin-left: auto;
    text-align: center;
    /* background-color: #f1f1f5 */
}
/* #6e777f */

.guest_tip {
    width: 35px;
    display: block;
    margin-right: auto;
    text-align: center;
    /* background-color: #f1f1f5; */
}

.matchdate {
    align-items: center;
    font-size: 14px;
    color: #acacac;
    margin: -3px 0 8px;
}

.form-control{
    padding: 0 0 0 0;
    background-color: #f1f1f5;
    color: #6e777f;
}

.edit_bet_row {
    text-align: inherit;
}

.tip_row {
    flex-wrap: nowrap;
}

.row {
    align-items: baseline;
    /* margin-left: 0px; */
}

.match_tips{
    display: contents;
}

/* .col_home{

} */

.col_guest{
padding-left: 15px;
}

.col_tip{
    padding-left: 0px;
    padding-right: 0px;
}

.tip_team_name{
    text-align: center;
}

.container_tip_input{
    background: #ffffff;
    width: 100%;
    padding-block: 5px;
}
.container_tip{
    margin-bottom: 20px;
}
.rounded {
    border-radius:.5rem!important;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f8f9fa!important;
    text-align: center;
    height: 8%;
}

.dropup{
    padding-top: inherit;
}

.tip_form{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
}

.bet_content{
    /* background-color: red; */
    /* display: flex;
    flex-direction: column; */
}

.seperator{
    padding-bottom: 100px;
}

/* Tippuebersicht */
.col_teams{
    background: none;
    text-align: center;
    padding: 14px 8px 12px;
    min-width: 60px;
    width: 60px;
    font-weight:500;
}

.span_match_team_home{
    display: block;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px dashed #acacac;
}

.span_match_team_guest{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.span_result{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.scrolling-wrapper-flexbox{
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; */
    overflow-x: auto;
    /* margin:0 */
}

/* .match_header{

} */

.col_value_spieltag{
    padding-right:4px;
    min-width: 72px;
    border-right: 2px solid rgba(95, 93, 97, .08);
}

.card{
    padding-left: 10px;
}

.th_sticky{
    /* background: white;
    position: sticky; */
    /* top: 0; */
     /* Don't forget this,
      required for the stickiness */
}

.col_value_gesamt_head{
    border-right: 2px solid rgba(95, 93, 97, .08);
    min-width: 72px;
    padding-left: 5px;
    text-align: center;
}

.table thead{
    font-weight: 400;
    color: #6c757d;
    border-bottom: 0;
}

.table td, .table th {
    margin: 0;
    border-bottom: 1px solid rgba(95, 93, 97, .08);
    color: #5f5d61;
    font-size: 14px;
    font-weight: 500;
    border-top: 0px #f1f1f5;
}

.table thead th{
    vertical-align: middle;
}

.table td{
    vertical-align: middle;
    border-top: 1.5px solid #dee2e6;
    padding: 0 5px;
    border-left:  2px solid rgba(95, 93, 97, .08);
}

.table th{
    padding: 0px 5px;
    text-align: center;
    border-right: 2px solid rgba(95, 93, 97, .08);
    border-left:  2px solid rgba(95, 93, 97, .08);
}

.table tr{
    background: #fff;
    height: 40px;
    text-align: center;
}

.bet_result{
    font-size: large;
    display: block;
}
