{% extends "tip_app_main/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n dicthelpers %}
<div>
 <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <button class="btn btn-outline-info mb-4" type="submit">Senden</button>
    </div>
</form>
<a class="btn btn-outline-info mb-4" href="{% url 'tip-reminder-mail' 1%}" type="submit">Reminder matchday</a>
<a class="btn btn-outline-info mb-4" href="{% url 'tip-reminder-mail' 0%}" type="submit">Reminder nächstes match</a>
</div>
{% endblock content %}