{% extends "tip_app_main/base.html" %}
{% block content %}
{% load i18n dicthelpers %}
{% load crispy_forms_tags %}
{% get_matchday_name number as matchday_name %}
<div class="bet_content">
<form action="{% url 'tip-matchday' number %}" id="tip-form" class="tip_form">
  {% csrf_token %}
  <div class="" id="matchday-endpoint-url" url="{% url 'tip-matchday' number %}">
      {% for match in matches_per_day %}
      {% with tip=tips|lookup:match.pk %}
        <div class="container container_tip">
          <div class="edit_bet_row">
            <div class="column matchdate">
              <span >{{ match.match_date|date:'l, d.m.Y' }}</span>
              <span>{{ match.match_date|date:'H:i' }} Uhr</span>
            </div>
          </div>
          <div class="container container_tip_input rounded">
          <div class="row">
            <div class="col-4">
              <div class="tip_team_name">{{ match.home_team.team_name}}</div>
            </div>
            <div class="col-1 col_tip">
              {% if not match.has_started %}
              <input type="text" class="form-control home_tip" min="0" max="9" id="tip_home_{{ match.id }}"
                  placeholder="{% if tip.tip_home == -1 %} - {% else %} {{ tip.tip_home }} {% endif %}">
              {% else%}
              <span class="home_tip"> {% if tip.tip_home == -1 %} - {% else %} {{ tip.tip_home }} {% endif %} </span>
              {% endif %}

            </div>
            <div class="col-1">
              <div class="tip_divider">:</div>
            </div>
            <div class="col-1 col_tip">
              {% if not match.has_started %}
                <input type="text" class="form-control guest_tip" id="tip_guest_{{ match.id }}" min="0" max="9" pattern="[0-9]"
                    placeholder="{% if tip.tip_guest == -1 %} - {% else %} {{ tip.tip_guest }} {% endif %}">
              {% else%}
                <span class="guest_tip"> {% if tip.tip_guest == -1 %} - {% else %} {{ tip.tip_guest }} {% endif %} </span>
              {% endif %}
            </div>
              {% disable_joker tip match n_joker as disable_joker %}
            <div class="col-1">
              <input type="checkbox" id="joker_{{ match.id }}" name="joker" title="Joker"
              {% if tip.joker %} checked {% endif %}
              {% if disable_joker %} disabled {% endif %}>
            </div>
            <div class="col-3 col_guest">
              <div class="tip_team_name">{{ match.guest_team.team_name}}</div>
            </div>
          </div>
        </div>
        </div>
      {% endwith %}
      {% endfor %}
    </div> 
  <div>
</form>
</div>
<div class="seperator"></div>
<footer class="footer">
<div class="btn-group dropup" id="tip-dropup">
  <button type="button" class="btn footer_button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ matchday_name }}
  </button>
  <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=0 %}">1.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=1 %}">2.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=2 %}">3.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=3 %}">Achtelfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=4 %}">Viertelfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=5 %}">Halbfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=6 %}">Finale</a>
  </div>
</div>
</footer>
{% endblock %}
