{% extends "tip_app_main/base.html" %}
{% block content %}
{% load i18n dicthelpers %}
{% load crispy_forms_tags %}
{% joker_upper_limit_reached number n_joker as joker_upper_limit_reached %}

<div class="bet_content">
<div class="betMatchList tab">
<form action="{% url 'tip-matchday' number %}" id="tip-form">
  {% csrf_token %}
  <div class="betMatchList tab" id="matchday-endpoint-url" url="{% url 'tip-matchday' number %}">
      {% for match in matches_per_day %}
      {% with tip=tips|lookup:match.pk %}
      <div data-v-c1661192="" class="matchday">
        <div data-v-c1661192="" class="edit_bet_row">
          <div data-v-c1661192="" class="column matchdate">
            <span data-v-c1661192="">{{ match.match_date|date:'l, d.m.Y' }}</span>
            <span data-v-c1661192="" class="matchdate_time">{{ match.match_date|date:'H:i' }} Uhr</span>
          </div>
        </div>
        <div data-v-c1661192="" class="matchday_list matchday_list_single">
          <div data-v-c1661192="" class="match">
            <div data-v-c1661192="" class="match-home">
              <div data-v-c1661192="" class="match-teamname">{{ match.home_team.team_name}}</div>
            </div>
            <div data-v-c1661192="" class="match-goals">
              <div data-v-c1661192="" class="column home_goals">
                  <input data-v-c1661192="" tabindex="matchIndex" min="0" id="tip_home_{{ match.id }}"  
                  placeholder= "{% if tip.tip_home == -1 %} - {% else %} {{ tip.tip_home }} {% endif %}"
                  max="9" type="number" pattern="[0-9]" class="bet_input bet_input_home"
                  {% if match.has_started %}
                  disabled
                  {% endif %}></div>
              <div data-v-c1661192="" class="match-goals-divider">
                <div data-v-c1661192="">:</div>
              </div>
              <div data-v-c1661192="" class="column guest_goals">
                <input data-v-c1661192="" id="tip_guest_{{ match.id }}"  
                  placeholder= "{% if tip.tip_home == -1 %} - {% else %} {{ tip.tip_guest }} {% endif %}"
                  type="number" min="0" max="9" pattern="[0-9]" class="bet_input bet_input_guest"
                  {% if match.has_started %}
                  disabled
                  {% endif %}>
              </div>
            </div>
              <div data-v-c1661192="" class="match-tipp">
                <input type="checkbox" id="joker_{{ match.id }}" name="joker" title="Joker"
                {% if tip.joker %} checked {% endif %}
              {% if joker_upper_limit_reached and not tip.joker or match.has_started %} disabled {% endif %}>
              {% comment %} or tip.tip_home == -1 or tip.tip_guest == -1 {% endcomment %}
              </div>
            <div data-v-c1661192="" class="match-guest">
              <div data-v-c1661192="" class="match-teamname">{{ match.guest_team.team_name}}</div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div> 
  <div>
</form>
</div>
<div data-v-7e6d69f7="" class="navigation_bottom">
  {% if number > 0 %} 
  <div data-v-7e6d69f7="" class="navigation_bottom--left">
     <a href="{% url 'tip-matchday' matchday_number=number|add:"-1" %}">
     <img data-v-7e6d69f7="" src="/media/static_pics/back.svg">
     </a>
  </div>
  {% endif %}
  {% if number == 0 %}
    <div data-v-7e6d69f7="" class="navigation_bottom--left">
     <a href="{% url 'tip-matchday' 6 %}">
     <img data-v-7e6d69f7="" src="/media/static_pics/back.svg">
     </a>
  </div>
  {% endif %}
  <div data-v-7e6d69f7="" variant="outline-primary" class="navigation_bottom--center dropup dropup-matchday">
      <button data-v-7e6d69f7="" type="button" class="navigation_bottom--center dropup-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Spieltag auswählen
       </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=0 %}">1.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=1 %}">2.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=2 %}">3.Spieltag</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=3 %}">Achtelfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=4 %}">Viertelfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=5 %}">Halbfinale</a>
        <a class="dropdown-item" href="{% url 'tip-matchday' matchday_number=6 %}">Finale</a>
      </div>
  </div>
  {% if number < 6 %} 
  <div data-v-7e6d69f7="" class="navigation_bottom--right">
     <a href="{% url 'tip-matchday' matchday_number=number|add:"+1" %}">
     <img data-v-7e6d69f7="" src="/media/static_pics/next.svg">
     </a>
  </div>
  {% endif %}
  {% if number == 6 %} 
  <div data-v-7e6d69f7="" class="navigation_bottom--right">
     <a href="{% url 'tip-matchday' 0 %}">
     <img data-v-7e6d69f7="" src="/media/static_pics/next.svg">
     </a>
  </div>
  {% endif %}
</div>
{% endblock %}
