{% extends "tip_app_main/base.html" %}
{% block content %}
{% load i18n dicthelpers %}

<div class="dashboard page offset">
<div id="bg_rankings_table">
    <table  class="table">
      <thead >
        <th class="col_pos head_borders"></th>
        <th class="col_avatar"></th>
        <th class="col_user"></th>
        <th class="col_user_source"></th>
        <th class="col_value head_borders">Pkt</th>
        <th class="col_value head_borders">6er</th>
        <th class="col_value_joker head_borders">Joker
        </th>
        <th class="col_value">WM
        </th>
      </thead>
      {% for user in users_ranked %}
      <tr {% if user.user.id == request_user.id %} style='background-color: #acacac;' {% endif %}>
        <td class="col_pos">{{ user.rank }}</td>
        <td colspan="3" class="col_user">{{ user.user.username }}</td>
        <td class="col_value">{{ user.score }}</td>
        <td class="col_value">{{ user.right_tips }}</td>
        <td class="col_value_joker">{{ user.joker }}</td>
        <td class="col_value">{{ user.Weltmeister }}</td>
      </tr>
      {% endfor %}
      <tfoot></tfoot>
    </table>
</div>
</div>
{% endblock %}
