{% extends "tip_app_main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" xmlns="http://www.w3.org/1999/html">
        <legend class="border-bottom mb-4">Du bist ausgeloggt!</legend>
        <div class="dashboard-text">
        <div class="powered-by-teamtip">
        <a href="{% url 'login' %}">
          <button class="log_in_button">
            <img src="" class="button button-icon--left">
            Anmelden
          </button>
        </a> 
        </div>
    </div>
{% endblock content %}